[submodule "command_line_tools/bwa_0.7.12"]
	path = command_line_tools/bwa_0.7.12
	url = https://github.com/mskcc-cwl/bwa_0.7.12.git
[submodule "command_line_tools/samtools_sort_1.3.1"]
	path = command_line_tools/samtools_sort_1.3.1
	url = https://github.com/mskcc-cwl/samtools_sort_1.3.1.git
[submodule "command_line_tools/samtools_view_1.3.1"]
	path = command_line_tools/samtools_view_1.3.1
	url = https://github.com/mskcc-cwl/samtools_view_1.3.1.git
